#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Layers
#define DEFAULT 0

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp A &kp D &kp G &kp J &kp M &kp P &kp S &kp V &kp Y &kp N1 &kp N4 &kp N7 
&kp B &kp E &kp H &kp K &kp N &kp Q &kp T &kp W &kp Z &kp N2 &kp N5 &kp N8 
&kp C &kp F &kp I &kp L &kp O &kp R &kp U &kp X &kp N0 &kp N3 &kp N6 &kp N9 
                  &kp SPACE &kp RET &kp COMMA &kp DOT &kp FSLH &kp BSLH  
            >;

        };
    };
};
