# SPDX-License-Identifier: MIT

if BOARD_ANAPHASE

config ZMK_KEYBOARD_NAME
    default "anaphase"

if USB

config USB_NRFX
    default y

config USB_DEVICE_STACK
    default y

endif # USB

config BT_CTLR
    default BT

config ZMK_BLE
    default y

config ZMK_USB
    default y

config ZMK_BATTERY_NRF_VDDH
    default y

config ZMK_DISPLAY

if ZMK_DISPLAY

config SPI
    default y

config SSD1306
    default y

config LVGL_HOR_RES_MAX
    default 96

config LVGL_VER_RES_MAX
    default 48

config LVGL_VDB_SIZE
    default 100

config LVGL_DPI
    default 148

config LVGL_BITS_PER_PIXEL
    default 1

choice LVGL_COLOR_DEPTH
    default LVGL_COLOR_DEPTH_1

endchoice

endif # ZMK_DISPLAY

endif # BOARD_ANAPHASE