# SPDX-License-Identifier: MIT

config BOARD_ANAPHASE_LEFT
    bool "anaphase_left"
    depends on SOC_NRF52840_QIAA

config BOARD_ANAPHASE_RIGHT
    bool "anaphase_right"
    depends on SOC_NRF52840_QIAA